.App {
  text-align: center;
   /*#282c34*/
  background: linear-gradient(to bottom, #82c8b6 3%, #282c34 100%);
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

